# Preprocessing for Nitrogen Loading Model (Nload)

## Objectives

Reclassify land use to including cranberry agriculture within subwatersheds of the Agawam (Wareham) drainage. Generate a table of area for 13 land use classes within each subcatchment, by sorting land uses from the following categories. 

Class Number|	Class Name
---|---
2|	Impervious
5|	Developed Open Space
6|	Cultivated Land
7|	Pasture/Hay
8|	Grassland
9|	Deciduous Forest
10|	Evergreen Forest
12|	Scrub/Shrub
13|	Palustrine Forested Wetland (C-CAP)
14|	Palustrine Scrub/Shrub Wetland (C-CAP)
15|	Palustrine Emergent Wetland (C-CAP)
16|	Estuarine Forested Wetland (C-CAP)
17|	Estuarine Scrub/Shrub Wetland (C-CAP)
18|	Estuarine Emergent Wetland (C-CAP)
19|	Unconsolidated Shore
20|	Bare Land
21|	Open Water
22|	Palustrine Aquatic Bed (C-CAP)
23|	Estuarine Aquatic Bed (C-CAP)


USEGENCODE|	USEGENNAME
---|---
0|	Unknown
2|	Open land
3|	Commercial
4|	Industrial
6|	Forest
7|	Agriculture
8|	Recreation
9|	Tax exempt
10| Mixed use, primarily residential
11|	Residential - single family
12|	Residential - multi-family
13|	Residential - other
20|	Mixed use, other
30|	Mixed use, primarily commercial
55|	Right-of-way
88|	Water


## References 
Kennedy, C. D., & Hoekstra, B. R. (2021). Measuring and modeling nitrogen export from cranberry farms. Ecosphere, 12(12), 1–15. https://doi.org/10.1002/ecs2.3686

Valiela, I., Geist, M., McClelland, J., & Tomasky, G. (2000). Nitrogen loading from watersheds to estuaries: Verification of the Waquoit Bay Nitrogen Loading Model. Biogeochemistry, 49(3), 277–293. https://doi.org/10.1023/A:1006345024374

Valiela, I., Collins, G., Kremer, J., Lajtha, K., Geist, M., Seely, B., … Sham, C. H. (1997). Nitrogen loading from coastal watersheds to receiving estuaries: New method and application. Ecological Applications, 7(2), 358–380. https://doi.org/10.1890/1051-0761(1997)007[0358:NLFCWT]2.0.CO;2

## Set up environment

In [1]:
# Load dependancies ***************************************
import arcpy as ap
import os, glob, re, sys
import pandas as pd
import numpy as np
#import scipy.stats

# Set up arcpy environment ******************************
# input data directory
idr = "C:\\Workspace\\Geodata\\Massachusetts\\"
# working directory this should be where arcgis project is located
wdr = "C:\\Workspace\\Geodata\\Nload\\"
# output directory
odr = os.path.join(wdr,'outputs')
# arcpy settings
ap.env.workspace = wdr # set arcpy environment working directory
aprx = arcpy.mp.ArcGISProject("Current") # current project
ap.CheckOutExtension("Spatial") # check out spatial extension
ap.env.outputCoordinateSystem = arcpy.SpatialReference("NAD 1983 UTM Zone 19N") # define cordinate system
# Allow overwriting of output
arcpy.env.overwriteOutput = True
#ap.SetProgressor("step", "processing...", step_value = 5)

Tip: see this [page](https://pro.arcgis.com/en/pro-app/latest/arcpy/functions/setprogressor.htm) for tips on arcpy settings. 

Tip: Use `os.path.join` to safely concatenate file paths. To do this enter folder names in quotes separated by commas.

Tip: Test in the geoprocessing tab first, then, once working, can copy python code from the geoprocessing tab when you click on the arrow next to `run`!

In [2]:
# check that directories exist
if os.path.exists(wdr) is False:
    sys.exit(wdr+" does not exist")
if os.path.exists(idr) is False:
    sys.exit(idr+" does not exist")
if os.path.exists(odr):
    print(odr+" already exists")
else:
    os.mkdir(odr)

C:\Workspace\Geodata\Nload\outputs already exists

Tip: Use `arcpy.FeatureSet` to add an input feature as an object to the current environment. Alternatively, `arcpy.management.MakeFeatureLayer` can be used to add input feature as a layer to the current project. The added layer should appear on the map. `arcpy.Copyfeatures_management` works in a similar way to `MakeFeatureLayer`. 

## Load input files

In [4]:
# Add Input Data *********************************** 
# Massachusetts 2016 Land Use Land Cover Layer 
path = os.path.join(idr,"lclu_gdb","MA_LCLU2016.gdb","LANDCOVER_LANDUSE_POLY")
MA_LCLU2016 = ap.FeatureSet(path)
ap.management.MakeFeatureLayer(path,"in_lclu16")

# Massachusetts cranberry agriculture (source: Jim McLaughlin)
# this needs to be updated
path = os.path.join(idr,'WMAbogsDRAFT2013\\WMAbogsDRAFT2013.shp')
os.path.exists(path)
arcpy.CopyFeatures_management(path,"in_bogs")
bogs = ap.FeatureSet(path)
#ap.management.MakeFeatureLayer(path, "lyr_ggbp")
path = os.path.join(idr,'Wareham_Bogs_v3\\WarehamBogs_master_v3.shp')
os.path.exists(path)
arcpy.CopyFeatures_management(path,"in_wareham_bogs")
wareham_bogs = ap.FeatureSet(path)

# Subcatchments of Agawam (Wareham) with terminus classifications
path = os.path.join(idr,"agawam_WS","agawam_subw_0309.shp")
agawam = ap.FeatureSet(path)
ap.management.MakeFeatureLayer(path,"in_agawam")

# Subcatchments of Great, Green, and Bourne Ponds with terminus classifications
path = os.path.join(idr,"GGBsheds","Great_Green_Bourne_Ponds.shp")
os.path.exists(path)
ggbp = ap.FeatureSet(path)
ap.management.MakeFeatureLayer(path,"in_ggbp")

# Create the spatial reference object from MA_LCLU2016
spatial_ref = arcpy.Describe(MA_LCLU2016).spatialReference

# MANAGE PROJECTIONS
arcpy.management.Project("in_wareham_bogs", 
                         "prj_wareham_bogs",
                         spatial_ref)
arcpy.management.Project("in_agawam", 
                         "prj_agawam",
                        spatial_ref)

## Main Program

### Part 1: Combine spatial layers

`arcpy.analysis.Intersect` (A) land use and (B) subwatershed Layer.

inFeat = "in_lclu16"
identFeat = "prj_agawam"
identOutput = "out_lclu16_agawam_ident"
arcpy.analysis.Identity(inFeat, identFeat, identOutput, "ALL", None, "NO_RELATIONSHIPS")

inFeat = "prj_wareham_bogs"
identFeat = identOutput
identOutput = "out_lclu16_agawam_cran_ident"
arcpy.analysis.Identity(inFeat, identFeat, identOutput, "ALL", None, "NO_RELATIONSHIPS")

In [5]:
# Intersect MA land use layer with subwatershed layer
inFeatures = [MA_LCLU2016, agawam]
intersectOutput = "out_agawam_lclu16"
arcpy.analysis.Intersect(inFeatures, intersectOutput, "", "", "INPUT")

Spatial (A) join cranberry and (B) intersection of subwatershed land use layers.

In [11]:
# change FID as BOG_FID in attribute table
arcpy.management.CalculateField("prj_wareham_bogs","BOG_FID","!FID!", 
                                "PYTHON3",'',"TEXT","NO_ENFORCE_DOMAINS")
                                
inFeat = intersectOutput
identFeat = "in_wareham_bogs"
identOutput = "out_lclu16_agawam_cran_ident"
arcpy.analysis.Identity(inFeat, identFeat, identOutput, "ALL", None, "NO_RELATIONSHIPS")

Calculate area of polygons in hectares and export attribute tables to pandas dataframe

In [18]:

def fn_Calculate_Area_Ha(fc):
    # calculate area in hectares and add column to attribute table
    arcpy.management.CalculateGeometryAttributes(fc,
                                             "Area_Ha AREA_GEODESIC",
                                             '', "HECTARES", None, "SAME_AS_INPUT")

# path to feature class
fc1 = "in_agawam"
fn_Calculate_Area_Ha(fc1)
fc2 = identOutput
fn_Calculate_Area_Ha(fc2)

In [34]:
def fn_featureClass_Attributes_to_DataFrame(fc):
    # list of field names that excludes the shape geometry (including geometry messes this up)
    flds = [fld.name for fld in arcpy.ListFields(fc) if fld.name != arcpy.Describe(fc).shapeFieldName]
    arr = arcpy.da.FeatureClassToNumPyArray(fc,flds)
    df = pd.DataFrame(arr)
    return(df)

in_df1 = fn_featureClass_Attributes_to_DataFrame(fc1).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})
in_df2 = fn_featureClass_Attributes_to_DataFrame(fc2).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})

In [35]:
# check that area of the inputs and outputs match closely
Total_Area1 = in_df1.Area_Ha.sum()
Total_Area2 = in_df2.Area_Ha.sum()
print(fc1+" Area (Ha):"+str(Total_Area1))
print(fc2+" Area (Ha):"+str(Total_Area2))
print("Difference in Area:"+str(Total_Area1 - Total_Area2)) # difference should be close to 0.0

in_agawam Area (Ha):12009.71311226636
out_lclu16_agawam_cran_ident Area (Ha):12007.009465318908
Difference in Area:2.703646947451489

In [36]:
# write attribute tables to csv
in_df1.to_csv(os.path.join(odr,fc1+".csv"))
in_df2.to_csv(os.path.join(odr,fc2+".csv"))

### Part 1: Reclassify combined layers for Nload Scenarios

Read excel tables with subwatershed land use area and terminus information

# Subwatershed land use area
inname1 = "in_agawam"
inname2 = 'out_agawam_lclu16_cran'
in_df1 = pd.read_excel(os.path.join(odr,inname1+'.xlsx'))

# Subwatershed catchment ids and terminus information
in_df2 = pd.read_excel(os.path.join(odr,inname2+'.xlsx'))

In [37]:
display(in_df1)
display(in_df2)

    FID       sf_area  SubWat_Num  New_ID  ...  SUB Terminus   F_      Area_Ha
0     0  3.471427e+07           0       0  ...    0        e  0.0   322.510995
1     1  7.005651e+07           2       2  ...    2        p  0.0   650.865795
2     2  2.110986e+06          19      19  ...   19        p  0.0    19.612364
3     3  1.227794e+07          21      21  ...   21        p  0.0   114.069335
4     4  6.956152e+06          24      24  ...   24        p  0.0    64.626888
5     5  1.361948e+07          25      25  ...   25        p  0.0   126.532533
6     6  4.162610e+06          22      22  ...   22        p  0.0    38.672989
7     7  6.418631e+06          23      23  ...   23        p  0.0    59.632582
8     8  2.098890e+07          26      26  ...   26        s  0.0   194.998012
9     9  1.078122e+07          30      30  ...   30        p  0.0   100.163457
10   10  6.909070e+06          28      28  ...   28        p  0.0    64.189598
11   11  1.411002e+06          29      29  ...   29        p  0.0    13.109041
12   12  1.164140e+07          17      17  ...   17        p  0.0   108.155991
13   13  1.041416e+06          27      27  ...   27        p  0.0     9.675401
14   14  2.687407e+07          18      18  ...   18        p  0.0   249.676658
15   15  9.522788e+06          13      13  ...   13        p  0.0    88.472716
16   16  8.580442e+06          12      12  ...   12        p  0.0    79.717848
17   17  1.044368e+07           9       9  ...    9        p  0.0    97.028408
18   18  2.580489e+06          11      11  ...   11        p  0.0    23.974446
19   19  9.301526e+06          10      10  ...   10        p  0.0    86.417185
20   20  7.343610e+06          16      16  ...   16        p  0.0    68.226569
21   21  8.168001e+05          14      14  ...   14        p  0.0     7.588577
22   22  4.233004e+06          15      15  ...   15        p  0.0    39.327126
23   23  7.689573e+06           8       8  ...    8        p  0.0    71.440916
24   24  2.799263e+07           7       7  ...    7        p  0.0   260.067831
25   25  2.166851e+06           6       6  ...    6        p  0.0    20.131266
26   26  5.710047e+07           5       5  ...    5        p  0.0   530.494802
27   27  3.163326e+06           1       1  ...    1        p  0.0    29.389232
28   28  8.235509e+06           3       3  ...    3        p  0.0    76.512795
29   29  1.151071e+08          32      32  ...   32        s  0.0  1069.409533
30   30  3.521716e+06          37      37  ...   37        p  0.0    32.718333
31   31  3.625599e+06          38      38  ...   38        p  0.0    33.683419
32   32  2.052870e+08          20      20  ...   20        p  0.0  1914.756682
33   33  1.681114e+07          35      35  ...   35        s  0.0   156.183216
34   34  2.475554e+07          40      40  ...   40        p  0.0   229.990403
35   35  3.487547e+07          41      41  ...   41        s  0.0   324.010079
36   36  6.254804e+07          39      39  ...   39        w  0.0   581.102851
37   37  3.800523e+07          33      33  ...   33        s  0.0   353.089455
38   38  7.982396e+07          34      34  ...   34        s  0.0   741.605814
39   39  3.042836e+07          31      31  ...   31        s  0.0   282.697492
40   40  4.279269e+07          43      43  ...   43        s  0.0   397.562503
41   41  2.779376e+07          44      44  ...   44        s  0.0   258.214260
42   42  1.147400e+07          45      45  ...   45        s  0.0   106.597979
43   43  1.346703e+07          46      46  ...   46        e  0.0   125.113837
44   44  8.926953e+06          47      47  ...   47        e  0.0    82.934515
45   45  7.421453e+07          42      42  ...   42        s  0.0   689.484831
46   46  4.819246e+06          49      48  ...   49        p  0.0    44.773631
47   47  2.055267e+07           4       4  ...    4        s  0.0   190.946896
48   48  1.275045e+07          50      49  ...   50        p  0.0   118.460120
49   49  7.115734e+07          51      50  ...   51        p  0.0   661.095909

[50 rows x 10 columns]

           FID  FID_out_ag  FID_LANDCO  ...  SubW_Nam_1            Basin_1 BOG_FID
0            0           0    15106589  ...
1            1           1    15106589  ...
2            2           2    15176018  ...
3            3           3    15176200  ...
4            4           4    15176201  ...
...        ...         ...         ...  ...         ...                ...     ...
114645  114645      112096    17383246  ...  bog stream  Direct to Estuary     320
114646  114646      112933    22469580  ...              Direct to Estuary     323
114647  114647      112934    22469580  ...              Direct to Estuary     323
114648  114648      112933    22469580  ...              Direct to Estuary     325
114649  114649      112934    22469580  ...              Direct to Estuary     325

[114650 rows x 55 columns]

Estimate fraction of total population (k_Pop) living in each subwatershed using one of two methods:
1. Impervious Area (USEGENCODE == 2): dividing the total impervious area by the impervious area within each subwatershed. 
2. Residential Use Codes (USEGENCODE == 10,11,12,13): classify polygons as housing units if they fall under a residential use code

In [76]:
in_df2["HousingUnit"] = (in_df2.COVERCODE == 2) & np.isin(in_df2.USEGENCODE,[10,11,12,13])
totalHousingUnits = in_df2['HousingUnit'].sum()
df_HU_SUB = in_df2.groupby('SUB')['HousingUnit'].sum().reset_index(name='HousingUnits')
df_HU_SUB['Housing_Fraction'] = df_HU_SUB['HousingUnits']/totalHousingUnits
display(df_HU_SUB)

   SUB  HousingUnits  Housing_Fraction
0    0            22          0.001793
1    1             7          0.000571
2   10            16          0.001304
3   11             2          0.000163
4   12            37          0.003016
5   13            19          0.001549
6   14             2          0.000163
7   15             9          0.000734
8   16            18          0.001467
9   17             8          0.000652
10  18            20          0.001630
11  19             8          0.000652
12   2            71          0.005787
13  20          2573          0.209716
14  21            33          0.002690
15  22             6          0.000489
16  23             0          0.000000
17  24             9          0.000734
18  25            24          0.001956
19  26             7          0.000571
20  27             1          0.000082
21  28             0          0.000000
22  29             1          0.000082
23   3             7          0.000571
24  30            28          0.002282
25  31           221          0.018013
26  32            45          0.003668
27  33            22          0.001793
28  34            71          0.005787
29  35           153          0.012470
30  37             0          0.000000
31  38             6          0.000489
32  39            67          0.005461
33   4            49          0.003994
34  40            36          0.002934
35  41           108          0.008803
36  42          2231          0.181840
37  43          2048          0.166925
38  44          1927          0.157063
39  45           677          0.055180
40  46           809          0.065939
41  47            61          0.004972
42  49            73          0.005950
43   5           535          0.043606
44  50            36          0.002934
45  51            96          0.007825
46   6             0          0.000000
47   7            35          0.002853
48   8            23          0.001875
49   9            12          0.000978

In [79]:
totalImpervious = in_df2.loc[in_df2['COVERCODE']==2, 'Area_Ha'].sum()
df_imp_sub = in_df2.loc[in_df2['COVERCODE']==2].groupby('SUB')['Area_Ha'].sum().reset_index(name='Area_Ha')
df_imp_sub['Impervious_Fraction'] = df_imp_sub['Area_Ha']/totalImpervious

In [85]:
df1 = in_df1[['SUB','Terminus']]
df1['k_Pop'] = None
df1 = pd.merge(df1,df_imp_sub[['SUB','Impervious_Fraction']])
df1 = pd.merge(df1,df_HU_SUB[['SUB','Housing_Fraction']])

# how well do these metrics align
#import matplotlib.pyplot as plt
#df1.plot('Housing_Fraction','Impervious_Fraction','scatter')
#plt.show()

df1['k_Pop'] = df1.loc[:,'Housing_Fraction']
display(df1)

__main__:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   SUB Terminus     k_Pop  Impervious_Fraction  Housing_Fraction
0    0        e  0.001793             0.000710          0.001793
1    2        p  0.005787             0.014778          0.005787
2   19        p  0.000652             0.000113          0.000652
3   21        p  0.002690             0.004998          0.002690
4   24        p  0.000734             0.002901          0.000734
5   25        p  0.001956             0.001844          0.001956
6   22        p  0.000489             0.001951          0.000489
7   23        p  0.000000             0.000769          0.000000
8   26        s  0.000571             0.003931          0.000571
9   30        p  0.002282             0.005686          0.002282
10  28        p  0.000000             0.001971          0.000000
11  29        p  0.000082             0.000293          0.000082
12  17        p  0.000652             0.002343          0.000652
13  27        p  0.000082             0.000445          0.000082
14  18        p  0.001630             0.013391          0.001630
15  13        p  0.001549             0.003708          0.001549
16  12        p  0.003016             0.003013          0.003016
17   9        p  0.000978             0.002336          0.000978
18  11        p  0.000163             0.000178          0.000163
19  10        p  0.001304             0.002438          0.001304
20  16        p  0.001467             0.002433          0.001467
21  14        p  0.000163             0.000332          0.000163
22  15        p  0.000734             0.001058          0.000734
23   8        p  0.001875             0.008615          0.001875
24   7        p  0.002853             0.009337          0.002853
25   6        p  0.000000             0.000334          0.000000
26   5        p  0.043606             0.040072          0.043606
27   1        p  0.000571             0.000920          0.000571
28   3        p  0.000571             0.005266          0.000571
29  32        s  0.003668             0.036270          0.003668
30  37        p  0.000000             0.000330          0.000000
31  38        p  0.000489             0.000369          0.000489
32  20        p  0.209716             0.151539          0.209716
33  35        s  0.012470             0.029437          0.012470
34  40        p  0.002934             0.024137          0.002934
35  41        s  0.008803             0.066045          0.008803
36  39        w  0.005461             0.023929          0.005461
37  33        s  0.001793             0.004824          0.001793
38  34        s  0.005787             0.013702          0.005787
39  31        s  0.018013             0.018756          0.018013
40  43        s  0.166925             0.152311          0.166925
41  44        s  0.157063             0.069325          0.157063
42  45        s  0.055180             0.029438          0.055180
43  46        e  0.065939             0.029315          0.065939
44  47        e  0.004972             0.003066          0.004972
45  42        s  0.181840             0.178016          0.181840
46  49        p  0.005950             0.004071          0.005950
47   4        s  0.003994             0.005268          0.003994
48  50        p  0.002934             0.005472          0.002934
49  51        p  0.007825             0.018215          0.007825

Reclassify land use using Nload cover codes for default scenario

In [194]:
# GENERATE DICTIONARY OF CONDITIONS FOR RECLASSIFYING LAND USE
active_cranberry = '((np.isin(df.CropStatus,"active"))|((df.COVERCODE == 21) & (df.USEGENCODE==7))|((df.COVERCODE == 6) & (np.isin(df.USEGENCODE,[7,0])|np.isin(df.USE_CODE,["71","710","260","710A","0730","0761","0760","000","0000","7100","0710","0360"]))))'
flowthrough = '(np.isin(df.Bog_type,"flowthrough"))'
waterbody = '(np.isin(df.COVERCODE,[22,21]) & np.invert('+active_cranberry+'))'
# condition dictionary
BASELINE = {
    # key (LUC): value (condition string)
    # 1: "Natural Uplands"
    1: '(df.COVERCODE >= 8) & (df.COVERCODE <= 12)',
    # 2: "Mowed Areas (Lawns, Sports Fields, and Golf Courses)"
    2: 'df.COVERCODE == 5',
    # 3: "Agriculture, Non Cranberry"
    3: 'np.isin(df.COVERCODE,[6,7]) & np.invert('+active_cranberry+')',
    # 4: "Agriculture, Active Cranberry, Flowthrough"
    4: active_cranberry+' & '+flowthrough,
    # 5: "Agriculture, Active Cranberry, Non Flowthrough"
    5: active_cranberry+' & (np.invert('+flowthrough+'))',
    # 6: "Impervious, Roads"
    6: '(df.COVERCODE == 2) & (df.USEGENCODE == 55)',
    # 7: "Impervious, Non-Roads"
    7: '(df.COVERCODE == 2) & (df.USEGENCODE is not 55)',
    # 8: "Recieving Body (Estuary)"
    8: '(df.SUB == "0") & ((df.COVERCODE == 23)|'+waterbody+')', # note that SUB is a string
    # 9: "Freshwater Ponds and Lakes"
    9: '(df.SUB != "0") &' + waterbody,
    # 10: "Wetlands"
    10: '(df.COVERCODE >= 13) & (df.COVERCODE <= 18)',
    # 11: "Retired Cranberry, Flowthrough"
    11: 'np.isin(df.CropStatus,"abandoned") & '+flowthrough,
    # 12: "Retired Cranberry, Non flowthrough"
    12: 'np.isin(df.CropStatus,"abandoned") & np.invert('+flowthrough+')',
    # 13: "Other (Bare land or Shoreline)"
    13: 'np.isin(df.COVERCODE,[19,20])'}

# checking condtions 
df = pd.DataFrame({"COVERCODE":[21,21]*2,
                   "SUB":["0","1"]*2,
                   "CropStatus":["active"]*2 + ["abandoned"]*2,
                   "USEGENCODE":[0,0,0,0],
                   "USE_CODE":[0,0,0,0]})
df["8"]= eval(BASELINE[8])
df["9"]= eval(BASELINE[9])
print(df)

C:\Users\Adrian.Wiegman\AppData\Local\Programs\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)
C:\Users\Adrian.Wiegman\AppData\Local\Programs\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

   COVERCODE SUB CropStatus  USEGENCODE  USE_CODE      8      9
0         21   0     active           0         0  False  False
1         21   1     active           0         0  False  False
2         21   0  abandoned           0         0   True  False
3         21   1  abandoned           0         0  False   True

In [174]:
df = in_df2
for i in list(BASELINE.keys()): 
    print("CHECKING "+str(i)+"....",eval(BASELINE[i]))

CHECKING 1.... 0          True
1          True
2          True
3          True
4          True
          ...
114645    False
114646    False
114647    False
114648    False
114649    False
Name: COVERCODE, Length: 114650, dtype: bool
CHECKING 2.... 0         False
1         False
2         False
3         False
4         False
          ...
114645    False
114646    False
114647    False
114648    False
114649    False
Name: COVERCODE, Length: 114650, dtype: bool
CHECKING 3.... 0         False
1         False
2         False
3         False
4         False
          ...
114645    False
114646    False
114647    False
114648    False
114649    False
Length: 114650, dtype: bool
CHECKING 4.... 0         False
1         False
2         False
3         False
4         False
          ...
114645    False
114646    False
114647    False
114648    False
114649    False
Length: 114650, dtype: bool
CHECKING 5.... 0         False
1         False
2         False
3         False
4         False
          ...
114645     True
114646     True
114647     True
114648     True
114649     True
Length: 114650, dtype: bool
CHECKING 6.... 0         False
1         False
2         False
3         False
4         False
          ...
114645    False
114646    False
114647    False
114648    False
114649    False
Length: 114650, dtype: bool
CHECKING 7.... 0         False
1         False
2         False
3         False
4         False
          ...
114645    False
114646    False
114647    False
114648    False
114649    False
Name: COVERCODE, Length: 114650, dtype: bool
CHECKING 8.... 0         False
1         False
2         False
3         False
4         False
          ...
114645    False
114646    False
114647    False
114648    False
114649    False
Length: 114650, dtype: bool
CHECKING 9.... 0         False
1         False
2         False
3         False
4         False
          ...
114645    False
114646    False
114647    False
114648    False
114649    False
Length: 114650, dtype: bool
CHECKING 10.... 0         False
1         False
2         False
3         False
4         False
          ...
114645    False
114646    False
114647    False
114648    False
114649    False
Name: COVERCODE, Length: 114650, dtype: bool
CHECKING 11.... [False False False ... False False False]
CHECKING 12.... [False False False ... False False False]
CHECKING 13.... [False False False ... False False False]

In [196]:
# declare land use class (LUC) reclasssification function
def fn_reclassify_LUC(df,dictionary):
    condlist = "["+", ".join(list(dictionary.values()))+"]"
    choicelist = list(dictionary.keys())
    #print(condlist)
    #print(choicelist)
    df["LUC"] =  np.select(eval(condlist),choicelist,13)
    return(df)

In [197]:
# execute reclassification subroutine
df2 = fn_reclassify_LUC(in_df2,BASELINE)
#df2["LUC"] =  np.where(((df2['LUC']==9) & (df2['SUB']==0)),8,df['LUC'])
# sum land area by subcatchment and LUC
df2_SUB_CC_Area = df2.groupby(['SUB','LUC'])['Area_Ha'].sum().reset_index(name='Area_Ha')
display(df2_SUB_CC_Area)

# check that area is within one tenth of a Ha of input
print('Difference in Total Area (Ha):',round(Total_Area2 - df2_SUB_CC_Area['Area_Ha'].sum(),1))

    SUB  LUC     Area_Ha
0     0    1    0.952013
1     0    2    0.079489
2     0    6    0.002072
3     0    7    0.436730
4     0    8  305.381342
..   ..  ...         ...
354   9    2    1.513350
355   9    7    1.442824
356   9    9    7.570656
357   9   10    0.169447
358   9   13    0.776087

[359 rows x 3 columns]

Difference in Total Area (Ha): -0.0

Reclassify terminus and land use based on cranberry management scenarios

In [198]:
# List of subwatersheds with cranberry at terminus
SUB_LIST_1 = [4, 31, 33, 34, 35, 41]
# List of subwatersheds with flowthrough cranberry at terminus
SUB_LIST_4 = [4, 33, 34]
# List of cranberry bogs at terminus of subwatersheds
BOG_FID_LIST_1 = [307,301,318,295,294,326,310,242,241,259,269,155,156,148,195,194,193,192]

In [199]:
# Dictionary of Scenario Conditions
LUC_scenarios = {
    # 0: "Baseline (Do nothing)"
    0: 'False',
    #1: "Restore Select Bogs to Wetlands"
    1: 'np.isin(df2[\'BOG_FID\'],BOG_FID_LIST_1)',
    #2: "Restore All Retired Bogs to Wetlands"
    2: 'df2.CropStatus is "abandoned"',
    #3: "Retire All Flowthrough Bogs"
    3: 'df2.Bog_type is "flowthrough"',
    #4: "Restore All Flowthrough Bogs to Wetlands"
    4: 'df2.Bog_type is "flowthrough"'
}
Terminus_scenarios = {
    # 0: "Baseline (Do nothing)"
    0: 'False',
    #1: "Restore Select Bogs to Wetlands"
    1: 'np.isin(df1[\'SUB\'],SUB_LIST_1)',
    #2: "Restore All Retired Bogs to Wetlands"
    2: 'False',
    #3: "Retire All Flowthrough Bogs"
    3: 'False',
    #4: "Restore All Flowthrough Bogs to Wetlands"
    4: 'np.isin(df1[\'SUB\'],SUB_LIST_4)'
}
Terminus_scenarios.keys()
Terminus_scenarios.values()

dict_values(['False', "np.isin(df1['SUB'],SUB_LIST_1)", 'False', 'False', "np.isin(df1['SUB'],SUB_LIST_4)"])

In [200]:
# For each scenario reclassify land use, then sum up area by land use and subwatershed
# default value if scenario condition is true
LUC_iftrue = 10
Terminus_iftrue = "w"
scens = [str(i) for i in range(5)]
list(LUC_scenarios.keys())

[0, 1, 2, 3, 4]

In [201]:
# For each scenario reclassify land use,
out_df2 = df2
out_df1 = df1
# default LUC value if scenario condition is true
LUC_iftrue = 10
# default Terminus value
Terminus_iftrue = "w"
for i in list(LUC_scenarios.keys()):
    print (i)
    # reset dataframe
    df2_i = df2
    df1_i = df1

    # alternative land use for scenario 
    if i == 3: 
        LUC_iftrue = 11
        
    # alter LUC based on scenario conditions
    #np.where(logic,if_true, if_false)
    out_df2["LUC"+str(i)] = np.where(eval(LUC_scenarios[i]),LUC_iftrue,df2.LUC)
    out_df1["Terminus"+str(i)] = np.where(eval(Terminus_scenarios[i]),Terminus_iftrue,df1.Terminus)
display(out_df2)
display(out_df1)

0
1
2
3
4

           FID  FID_out_ag  FID_LANDCO  ... LUC2  LUC3 LUC4
0            0           0    15106589  ...    1     1    1
1            1           1    15106589  ...    1     1    1
2            2           2    15176018  ...    1     1    1
3            3           3    15176200  ...    1     1    1
4            4           4    15176201  ...    1     1    1
...        ...         ...         ...  ...  ...   ...  ...
114645  114645      112096    17383246  ...    5     5    5
114646  114646      112933    22469580  ...    5     5    5
114647  114647      112934    22469580  ...    5     5    5
114648  114648      112933    22469580  ...    5     5    5
114649  114649      112934    22469580  ...    5     5    5

[114650 rows x 62 columns]

   SUB Terminus     k_Pop  ...  Terminus2  Terminus3 Terminus4
0    0        e  0.001793  ...          e          e         e
1    2        p  0.005787  ...          p          p         p
2   19        p  0.000652  ...          p          p         p
3   21        p  0.002690  ...          p          p         p
4   24        p  0.000734  ...          p          p         p
5   25        p  0.001956  ...          p          p         p
6   22        p  0.000489  ...          p          p         p
7   23        p  0.000000  ...          p          p         p
8   26        s  0.000571  ...          s          s         s
9   30        p  0.002282  ...          p          p         p
10  28        p  0.000000  ...          p          p         p
11  29        p  0.000082  ...          p          p         p
12  17        p  0.000652  ...          p          p         p
13  27        p  0.000082  ...          p          p         p
14  18        p  0.001630  ...          p          p         p
15  13        p  0.001549  ...          p          p         p
16  12        p  0.003016  ...          p          p         p
17   9        p  0.000978  ...          p          p         p
18  11        p  0.000163  ...          p          p         p
19  10        p  0.001304  ...          p          p         p
20  16        p  0.001467  ...          p          p         p
21  14        p  0.000163  ...          p          p         p
22  15        p  0.000734  ...          p          p         p
23   8        p  0.001875  ...          p          p         p
24   7        p  0.002853  ...          p          p         p
25   6        p  0.000000  ...          p          p         p
26   5        p  0.043606  ...          p          p         p
27   1        p  0.000571  ...          p          p         p
28   3        p  0.000571  ...          p          p         p
29  32        s  0.003668  ...          s          s         s
30  37        p  0.000000  ...          p          p         p
31  38        p  0.000489  ...          p          p         p
32  20        p  0.209716  ...          p          p         p
33  35        s  0.012470  ...          s          s         s
34  40        p  0.002934  ...          p          p         p
35  41        s  0.008803  ...          s          s         s
36  39        w  0.005461  ...          w          w         w
37  33        s  0.001793  ...          s          s         s
38  34        s  0.005787  ...          s          s         s
39  31        s  0.018013  ...          s          s         s
40  43        s  0.166925  ...          s          s         s
41  44        s  0.157063  ...          s          s         s
42  45        s  0.055180  ...          s          s         s
43  46        e  0.065939  ...          e          e         e
44  47        e  0.004972  ...          e          e         e
45  42        s  0.181840  ...          s          s         s
46  49        p  0.005950  ...          p          p         p
47   4        s  0.003994  ...          s          s         s
48  50        p  0.002934  ...          p          p         p
49  51        p  0.007825  ...          p          p         p

[50 rows x 10 columns]

In [202]:
# then sum up area by land use and subwatershed    
for i in list(LUC_scenarios.keys()):
    print (i)   
    # Aggregate Data with Pandas .groupby()
    df2_i = df2.groupby(['SUB','LUC'+str(i)])['Area_Ha'].sum().reset_index(name='Area_Ha')

    df2_i = df2_i.rename(columns={'LUC'+str(i):'LUC',
                               'Terminus'+str(i):'Terminus',
                            'Area_Ha'+str(i):'Area_Ha'})
    df2_i.to_csv(os.path.join(odr,"Wareham_LUC_Area"+str(i)+".csv"))
    display(df2_i)
    # check that area is within one tenth of a Ha of input
    print('Difference in Total Area (Ha):',round(df2['Area_Ha'].sum() - df2_i['Area_Ha'].sum(),1))

    df1_i = pd.merge(out_df1[["SUB","Terminus"+str(i)]],
                     out_df1.loc[:, np.invert(out_df1.columns.str.startswith('Terminus'))])
    df1_i = df1_i.rename(columns={'Terminus'+str(i):'Terminus'})
    display(df1_i)
    df1_i.to_csv(os.path.join(odr,"Wareham_Terminus_and_Pop"+str(i)+".csv"))

0

    SUB  LUC     Area_Ha
0     0    1    0.952013
1     0    2    0.079489
2     0    6    0.002072
3     0    7    0.436730
4     0    8  305.381342
..   ..  ...         ...
354   9    2    1.513350
355   9    7    1.442824
356   9    9    7.570656
357   9   10    0.169447
358   9   13    0.776087

[359 rows x 3 columns]

Difference in Total Area (Ha): -0.0

   SUB Terminus     k_Pop  Impervious_Fraction  Housing_Fraction
0    0        e  0.001793             0.000710          0.001793
1    2        p  0.005787             0.014778          0.005787
2   19        p  0.000652             0.000113          0.000652
3   21        p  0.002690             0.004998          0.002690
4   24        p  0.000734             0.002901          0.000734
5   25        p  0.001956             0.001844          0.001956
6   22        p  0.000489             0.001951          0.000489
7   23        p  0.000000             0.000769          0.000000
8   26        s  0.000571             0.003931          0.000571
9   30        p  0.002282             0.005686          0.002282
10  28        p  0.000000             0.001971          0.000000
11  29        p  0.000082             0.000293          0.000082
12  17        p  0.000652             0.002343          0.000652
13  27        p  0.000082             0.000445          0.000082
14  18        p  0.001630             0.013391          0.001630
15  13        p  0.001549             0.003708          0.001549
16  12        p  0.003016             0.003013          0.003016
17   9        p  0.000978             0.002336          0.000978
18  11        p  0.000163             0.000178          0.000163
19  10        p  0.001304             0.002438          0.001304
20  16        p  0.001467             0.002433          0.001467
21  14        p  0.000163             0.000332          0.000163
22  15        p  0.000734             0.001058          0.000734
23   8        p  0.001875             0.008615          0.001875
24   7        p  0.002853             0.009337          0.002853
25   6        p  0.000000             0.000334          0.000000
26   5        p  0.043606             0.040072          0.043606
27   1        p  0.000571             0.000920          0.000571
28   3        p  0.000571             0.005266          0.000571
29  32        s  0.003668             0.036270          0.003668
30  37        p  0.000000             0.000330          0.000000
31  38        p  0.000489             0.000369          0.000489
32  20        p  0.209716             0.151539          0.209716
33  35        s  0.012470             0.029437          0.012470
34  40        p  0.002934             0.024137          0.002934
35  41        s  0.008803             0.066045          0.008803
36  39        w  0.005461             0.023929          0.005461
37  33        s  0.001793             0.004824          0.001793
38  34        s  0.005787             0.013702          0.005787
39  31        s  0.018013             0.018756          0.018013
40  43        s  0.166925             0.152311          0.166925
41  44        s  0.157063             0.069325          0.157063
42  45        s  0.055180             0.029438          0.055180
43  46        e  0.065939             0.029315          0.065939
44  47        e  0.004972             0.003066          0.004972
45  42        s  0.181840             0.178016          0.181840
46  49        p  0.005950             0.004071          0.005950
47   4        s  0.003994             0.005268          0.003994
48  50        p  0.002934             0.005472          0.002934
49  51        p  0.007825             0.018215          0.007825

1

    SUB  LUC     Area_Ha
0     0    1    0.952013
1     0    2    0.079489
2     0    6    0.002072
3     0    7    0.436730
4     0    8  305.381342
..   ..  ...         ...
354   9    2    1.513350
355   9    7    1.442824
356   9    9    7.570656
357   9   10    0.169447
358   9   13    0.776087

[359 rows x 3 columns]

Difference in Total Area (Ha): -0.0

   SUB Terminus     k_Pop  Impervious_Fraction  Housing_Fraction
0    0        e  0.001793             0.000710          0.001793
1    2        p  0.005787             0.014778          0.005787
2   19        p  0.000652             0.000113          0.000652
3   21        p  0.002690             0.004998          0.002690
4   24        p  0.000734             0.002901          0.000734
5   25        p  0.001956             0.001844          0.001956
6   22        p  0.000489             0.001951          0.000489
7   23        p  0.000000             0.000769          0.000000
8   26        s  0.000571             0.003931          0.000571
9   30        p  0.002282             0.005686          0.002282
10  28        p  0.000000             0.001971          0.000000
11  29        p  0.000082             0.000293          0.000082
12  17        p  0.000652             0.002343          0.000652
13  27        p  0.000082             0.000445          0.000082
14  18        p  0.001630             0.013391          0.001630
15  13        p  0.001549             0.003708          0.001549
16  12        p  0.003016             0.003013          0.003016
17   9        p  0.000978             0.002336          0.000978
18  11        p  0.000163             0.000178          0.000163
19  10        p  0.001304             0.002438          0.001304
20  16        p  0.001467             0.002433          0.001467
21  14        p  0.000163             0.000332          0.000163
22  15        p  0.000734             0.001058          0.000734
23   8        p  0.001875             0.008615          0.001875
24   7        p  0.002853             0.009337          0.002853
25   6        p  0.000000             0.000334          0.000000
26   5        p  0.043606             0.040072          0.043606
27   1        p  0.000571             0.000920          0.000571
28   3        p  0.000571             0.005266          0.000571
29  32        s  0.003668             0.036270          0.003668
30  37        p  0.000000             0.000330          0.000000
31  38        p  0.000489             0.000369          0.000489
32  20        p  0.209716             0.151539          0.209716
33  35        s  0.012470             0.029437          0.012470
34  40        p  0.002934             0.024137          0.002934
35  41        s  0.008803             0.066045          0.008803
36  39        w  0.005461             0.023929          0.005461
37  33        s  0.001793             0.004824          0.001793
38  34        s  0.005787             0.013702          0.005787
39  31        s  0.018013             0.018756          0.018013
40  43        s  0.166925             0.152311          0.166925
41  44        s  0.157063             0.069325          0.157063
42  45        s  0.055180             0.029438          0.055180
43  46        e  0.065939             0.029315          0.065939
44  47        e  0.004972             0.003066          0.004972
45  42        s  0.181840             0.178016          0.181840
46  49        p  0.005950             0.004071          0.005950
47   4        s  0.003994             0.005268          0.003994
48  50        p  0.002934             0.005472          0.002934
49  51        p  0.007825             0.018215          0.007825

2

    SUB  LUC     Area_Ha
0     0    1    0.952013
1     0    2    0.079489
2     0    6    0.002072
3     0    7    0.436730
4     0    8  305.381342
..   ..  ...         ...
354   9    2    1.513350
355   9    7    1.442824
356   9    9    7.570656
357   9   10    0.169447
358   9   13    0.776087

[359 rows x 3 columns]

Difference in Total Area (Ha): -0.0

   SUB Terminus     k_Pop  Impervious_Fraction  Housing_Fraction
0    0        e  0.001793             0.000710          0.001793
1    2        p  0.005787             0.014778          0.005787
2   19        p  0.000652             0.000113          0.000652
3   21        p  0.002690             0.004998          0.002690
4   24        p  0.000734             0.002901          0.000734
5   25        p  0.001956             0.001844          0.001956
6   22        p  0.000489             0.001951          0.000489
7   23        p  0.000000             0.000769          0.000000
8   26        s  0.000571             0.003931          0.000571
9   30        p  0.002282             0.005686          0.002282
10  28        p  0.000000             0.001971          0.000000
11  29        p  0.000082             0.000293          0.000082
12  17        p  0.000652             0.002343          0.000652
13  27        p  0.000082             0.000445          0.000082
14  18        p  0.001630             0.013391          0.001630
15  13        p  0.001549             0.003708          0.001549
16  12        p  0.003016             0.003013          0.003016
17   9        p  0.000978             0.002336          0.000978
18  11        p  0.000163             0.000178          0.000163
19  10        p  0.001304             0.002438          0.001304
20  16        p  0.001467             0.002433          0.001467
21  14        p  0.000163             0.000332          0.000163
22  15        p  0.000734             0.001058          0.000734
23   8        p  0.001875             0.008615          0.001875
24   7        p  0.002853             0.009337          0.002853
25   6        p  0.000000             0.000334          0.000000
26   5        p  0.043606             0.040072          0.043606
27   1        p  0.000571             0.000920          0.000571
28   3        p  0.000571             0.005266          0.000571
29  32        s  0.003668             0.036270          0.003668
30  37        p  0.000000             0.000330          0.000000
31  38        p  0.000489             0.000369          0.000489
32  20        p  0.209716             0.151539          0.209716
33  35        s  0.012470             0.029437          0.012470
34  40        p  0.002934             0.024137          0.002934
35  41        s  0.008803             0.066045          0.008803
36  39        w  0.005461             0.023929          0.005461
37  33        s  0.001793             0.004824          0.001793
38  34        s  0.005787             0.013702          0.005787
39  31        s  0.018013             0.018756          0.018013
40  43        s  0.166925             0.152311          0.166925
41  44        s  0.157063             0.069325          0.157063
42  45        s  0.055180             0.029438          0.055180
43  46        e  0.065939             0.029315          0.065939
44  47        e  0.004972             0.003066          0.004972
45  42        s  0.181840             0.178016          0.181840
46  49        p  0.005950             0.004071          0.005950
47   4        s  0.003994             0.005268          0.003994
48  50        p  0.002934             0.005472          0.002934
49  51        p  0.007825             0.018215          0.007825

3

    SUB  LUC     Area_Ha
0     0    1    0.952013
1     0    2    0.079489
2     0    6    0.002072
3     0    7    0.436730
4     0    8  305.381342
..   ..  ...         ...
354   9    2    1.513350
355   9    7    1.442824
356   9    9    7.570656
357   9   10    0.169447
358   9   13    0.776087

[359 rows x 3 columns]

Difference in Total Area (Ha): -0.0

   SUB Terminus     k_Pop  Impervious_Fraction  Housing_Fraction
0    0        e  0.001793             0.000710          0.001793
1    2        p  0.005787             0.014778          0.005787
2   19        p  0.000652             0.000113          0.000652
3   21        p  0.002690             0.004998          0.002690
4   24        p  0.000734             0.002901          0.000734
5   25        p  0.001956             0.001844          0.001956
6   22        p  0.000489             0.001951          0.000489
7   23        p  0.000000             0.000769          0.000000
8   26        s  0.000571             0.003931          0.000571
9   30        p  0.002282             0.005686          0.002282
10  28        p  0.000000             0.001971          0.000000
11  29        p  0.000082             0.000293          0.000082
12  17        p  0.000652             0.002343          0.000652
13  27        p  0.000082             0.000445          0.000082
14  18        p  0.001630             0.013391          0.001630
15  13        p  0.001549             0.003708          0.001549
16  12        p  0.003016             0.003013          0.003016
17   9        p  0.000978             0.002336          0.000978
18  11        p  0.000163             0.000178          0.000163
19  10        p  0.001304             0.002438          0.001304
20  16        p  0.001467             0.002433          0.001467
21  14        p  0.000163             0.000332          0.000163
22  15        p  0.000734             0.001058          0.000734
23   8        p  0.001875             0.008615          0.001875
24   7        p  0.002853             0.009337          0.002853
25   6        p  0.000000             0.000334          0.000000
26   5        p  0.043606             0.040072          0.043606
27   1        p  0.000571             0.000920          0.000571
28   3        p  0.000571             0.005266          0.000571
29  32        s  0.003668             0.036270          0.003668
30  37        p  0.000000             0.000330          0.000000
31  38        p  0.000489             0.000369          0.000489
32  20        p  0.209716             0.151539          0.209716
33  35        s  0.012470             0.029437          0.012470
34  40        p  0.002934             0.024137          0.002934
35  41        s  0.008803             0.066045          0.008803
36  39        w  0.005461             0.023929          0.005461
37  33        s  0.001793             0.004824          0.001793
38  34        s  0.005787             0.013702          0.005787
39  31        s  0.018013             0.018756          0.018013
40  43        s  0.166925             0.152311          0.166925
41  44        s  0.157063             0.069325          0.157063
42  45        s  0.055180             0.029438          0.055180
43  46        e  0.065939             0.029315          0.065939
44  47        e  0.004972             0.003066          0.004972
45  42        s  0.181840             0.178016          0.181840
46  49        p  0.005950             0.004071          0.005950
47   4        s  0.003994             0.005268          0.003994
48  50        p  0.002934             0.005472          0.002934
49  51        p  0.007825             0.018215          0.007825

4

    SUB  LUC     Area_Ha
0     0    1    0.952013
1     0    2    0.079489
2     0    6    0.002072
3     0    7    0.436730
4     0    8  305.381342
..   ..  ...         ...
354   9    2    1.513350
355   9    7    1.442824
356   9    9    7.570656
357   9   10    0.169447
358   9   13    0.776087

[359 rows x 3 columns]

Difference in Total Area (Ha): -0.0

   SUB Terminus     k_Pop  Impervious_Fraction  Housing_Fraction
0    0        e  0.001793             0.000710          0.001793
1    2        p  0.005787             0.014778          0.005787
2   19        p  0.000652             0.000113          0.000652
3   21        p  0.002690             0.004998          0.002690
4   24        p  0.000734             0.002901          0.000734
5   25        p  0.001956             0.001844          0.001956
6   22        p  0.000489             0.001951          0.000489
7   23        p  0.000000             0.000769          0.000000
8   26        s  0.000571             0.003931          0.000571
9   30        p  0.002282             0.005686          0.002282
10  28        p  0.000000             0.001971          0.000000
11  29        p  0.000082             0.000293          0.000082
12  17        p  0.000652             0.002343          0.000652
13  27        p  0.000082             0.000445          0.000082
14  18        p  0.001630             0.013391          0.001630
15  13        p  0.001549             0.003708          0.001549
16  12        p  0.003016             0.003013          0.003016
17   9        p  0.000978             0.002336          0.000978
18  11        p  0.000163             0.000178          0.000163
19  10        p  0.001304             0.002438          0.001304
20  16        p  0.001467             0.002433          0.001467
21  14        p  0.000163             0.000332          0.000163
22  15        p  0.000734             0.001058          0.000734
23   8        p  0.001875             0.008615          0.001875
24   7        p  0.002853             0.009337          0.002853
25   6        p  0.000000             0.000334          0.000000
26   5        p  0.043606             0.040072          0.043606
27   1        p  0.000571             0.000920          0.000571
28   3        p  0.000571             0.005266          0.000571
29  32        s  0.003668             0.036270          0.003668
30  37        p  0.000000             0.000330          0.000000
31  38        p  0.000489             0.000369          0.000489
32  20        p  0.209716             0.151539          0.209716
33  35        s  0.012470             0.029437          0.012470
34  40        p  0.002934             0.024137          0.002934
35  41        s  0.008803             0.066045          0.008803
36  39        w  0.005461             0.023929          0.005461
37  33        s  0.001793             0.004824          0.001793
38  34        s  0.005787             0.013702          0.005787
39  31        s  0.018013             0.018756          0.018013
40  43        s  0.166925             0.152311          0.166925
41  44        s  0.157063             0.069325          0.157063
42  45        s  0.055180             0.029438          0.055180
43  46        e  0.065939             0.029315          0.065939
44  47        e  0.004972             0.003066          0.004972
45  42        s  0.181840             0.178016          0.181840
46  49        p  0.005950             0.004071          0.005950
47   4        s  0.003994             0.005268          0.003994
48  50        p  0.002934             0.005472          0.002934
49  51        p  0.007825             0.018215          0.007825





















## Appendix

df_reclass.to_csv(os.path.join(odr,"Nload_LUC_scenarios.csv"))
in_df1.to_csv(os.path.join(odr,"Nload_SUB_scenarios.csv"))

For each scenario sum up areas by land use and subwatershed

Additional scenario (Not to be done this week) (5% population increase, and accompanied displacement 1% increase in).

# Case when statement for land use classification
# dependancies pandas and numpy
import pandas as pd
import numpy as np
import random
# BASELINE 
Bog_FID = np.arange(4)
SHED_ID = [1,2,1,2]
COVERCODE = [22]*4
USEGENCODE = [55]*4
USE_CODE = ["0","0","0710","0761"]*5
CropStatus = ["active","","active","abandoned"]
Bog_type = ["","flowthrough","flowthrough",""]
df = pd.DataFrame(list(zip(Bog_FID,SHED_ID,COVERCODE, USEGENCODE, USE_CODE,CropStatus,Bog_type)),
               columns =['Bog_FID','SHED_ID','COVERCODE', 'USEGENCODE','USE_CODE','CropStatus','Bog_type'])

BASELINE = {
    # key (LUC): value (condition string)
    # "Natural Uplands"
    1: '(df.COVERCODE >= 8) & (df.COVERCODE <= 12)',
    # "Mowed Areas (Lawns, Sports Fields, and Golf Courses)"
    2: 'df.COVERCODE == 5',
    # "Agriculture, Non Cranberry"
    3: 'np.isin(df.COVERCODE,[6,7]) & np.invert(np.isin(df.CropStatus,"active")|np.isin(df.USE_CODE,["710","260","0761","7100","0710"]))',
    # "Agriculture, Active Cranberry, Flowthrough"
    #4: '(df.USEGENCODE == 7)',
    4: 'np.invert(np.isin(df.CropStatus,"abandoned")) & (np.isin(df.CropStatus,"active")|np.isin(df.USE_CODE,["710","260","0761","7100","0710"])) & np.isin(df.Bog_type,"flowthrough")',
    #4: '(df.USEGENCODE == 7) & (df.CropStatus is "active") & (df.Bog_type is "flowthrough")',
    #4: '((df.USEGENCODE == 7 & (np.isin(df.USE_CODE,["270", "710", "7100", "0710", "0761"])) or df.CropStatus is "active") and (df.Bog_type is "flowthrough")',
    # "Agriculture, Active Cranberry, Non Flowthrough"
    5: 'np.invert(np.isin(df.CropStatus,"abandoned")) & (np.isin(df.CropStatus,"active")|np.isin(df.USE_CODE,["710","260","0761","7100","0710"])) & np.invert(np.isin(df.Bog_type,"flowthrough"))',
    #5: '((df.USEGENCODE == 7 & ("710" in df.USE_CODE or "761" in df.USE_CODE)) or df.CropStatus is "active") and (df.Bog_type is not "flowthrough")',
    # "Impervious, Roads"
    6: '(df.COVERCODE == 2) & (df.USEGENCODE == 55)',
    # "Impervious, Non-Roads"
    7: '(df.COVERCODE == 2) & (df.USEGENCODE is not 55)',
    # "Recieving Body (Estuary)"
    8: 'df.COVERCODE == 23',
    # "Freshwater Ponds and Lakes"
    9: 'np.isin(df.COVERCODE,[22,21])',
    # "Wetlands"
    10: '(df.COVERCODE >= 13) & (df.COVERCODE <= 18)',
    # "Retired Cranberry, Flowthrough"
    11: 'np.isin(df.CropStatus,"abandoned") & np.isin(df.Bog_type,"flowthrough")',
    # "Retired Cranberry, Non flowthrough"
    12: 'np.isin(df.CropStatus,"abandoned") & np.invert(np.isin(df.Bog_type,"flowthrough"))',
    # "Other (Bare land or Shoreline)"
    13: 'np.isin(df.COVERCODE,[19,20])'
}

condlist = "["+", ".join(list(BASELINE.values()))+"]"
choicelist = list(BASELINE.keys())
df["LUC"] =  np.select(eval(condlist),choicelist,13)
display(df)

The chunks above are working well. Resume here 5/27/22

The next steps are to finish the scenario encodings below. Then restart the work flow.

# List of cranberry bogs at bottom of subwatersheds
# SHED_ID 4, 31, 33, 34, 35, 41 
BOG_FID_List = [307,301,318,295,294,326,310,242,241,259,269,155,156,148,195,194,193,192]
np.isin(df.LUC,[4,5,11,12]) & np.isin(df.BOG_FID,[1,2,3,6,8])

scenarios = {
    #0. Baseline (Do nothing)
    0: "False",
    #1. Restore Select Bogs to Wetlands
    1: 'np.isin(df.LUC,[4,5,11,12]) & np.isin(df.BOG_FID,[1,2,3,6,8])',
    #2. Restore All Retired Bogs to Wetlands
    2: 'df.CropStatus is "abandoned"',
    #3. Retire All Flowthrough Bogs
    3: 'df.Bog_type is "flowthrough"',
    #4. Retire All Flowthrough Bogs and Restore Them to Wetlands
    4: 'df.Bog_type is "flowthrough"'
}
scenarios.keys()
scenarios.values()

scenarios.keys()
scenarios.values()
#np.where(logic,if_true, if_false)
df["LUC_0"] = np.where(eval(scenarios[0]),df.LUC,df.LUC)

df["LUC_1"] = np.where(eval(scenarios[1]),10,df.LUC)
df["LUC_2"] = np.where(eval(scenarios[2]),10,df.LUC)
df["LUC_3"] = np.where(eval(scenarios[3]),11,df.LUC)
df["LUC_4"] = np.where(eval(scenarios[4]),10,df.LUC)
display(df)

with arcpy.EnvManager(scratchWorkspace=r"C:\Workspace\Geodata\Nload\Default.gdb", workspace=r"C:\Workspace\Geodata\Nload\Default.gdb"):
    arcpy.management.CalculateField("Wareham_Bogs_master_v3", "Restore_TF", "myfun(!FID!)", "PYTHON3", """def myfun (test_string,test_list=None):
    if test_list is None: test_list=[307,301,318,295,294,326,310,242,2241,259,269,155,156,148,195,194,193,192]
    test = any(str(ele) in FID for ele in test_list)
    return(test)""", "TEXT", "NO_ENFORCE_DOMAINS")

# spatial join
spatialJoinOutput = intersectOutput+"_cran"
with arcpy.EnvManager(scratchWorkspace=r"C:\Workspace\Geodata\Nload\Default.gdb", workspace=r"C:\Workspace\Geodata\Nload\Default.gdb"):
    arcpy.analysis.SpatialJoin(intersectOutput, "in_wareham_bogs", spatialJoinOutput, "JOIN_ONE_TO_ONE", "KEEP_ALL", 'FID_LANDCO "FID_LANDCO" true true false 10 Long 0 10,First,#,out_agawam_lclu16,FID_LANDCO,-1,-1;COVERNAME "COVERNAME" true true false 50 Text 0 0,First,#,out_agawam_lclu16,COVERNAME,0,50;COVERCODE "COVERCODE" true true false 5 Long 0 5,First,#,out_agawam_lclu16,COVERCODE,-1,-1;USEGENNAME "USEGENNAME" true true false 50 Text 0 0,First,#,out_agawam_lclu16,USEGENNAME,0,50;USEGENCODE "USEGENCODE" true true false 5 Long 0 5,First,#,out_agawam_lclu16,USEGENCODE,-1,-1;USE_CODE "USE_CODE" true true false 4 Text 0 0,First,#,out_agawam_lclu16,USE_CODE,0,4;POLY_TYPE "POLY_TYPE" true true false 15 Text 0 0,First,#,out_agawam_lclu16,POLY_TYPE,0,15;FY "FY" true true false 5 Long 0 5,First,#,out_agawam_lclu16,FY,-1,-1;TOWN_ID "TOWN_ID" true true false 5 Long 0 5,First,#,out_agawam_lclu16,TOWN_ID,-1,-1;TILENAME "TILENAME" true true false 6 Text 0 0,First,#,out_agawam_lclu16,TILENAME,0,6;Shape_Leng "Shape_Leng" true true false 19 Double 0 0,First,#,out_agawam_lclu16,Shape_Leng,-1,-1;Shape_Area "Shape_Area" true true false 19 Double 0 0,First,#,out_agawam_lclu16,Shape_Area,-1,-1;FID_agawam "FID_agawam" true true false 10 Long 0 10,First,#,out_agawam_lclu16,FID_agawam,-1,-1;sf_area "sf_area" true true false 19 Double 11 18,First,#,out_agawam_lclu16,sf_area,-1,-1;SubWat_Num "SubWat_Num" true true false 4 Short 0 4,First,#,out_agawam_lclu16,SubWat_Num,-1,-1;New_ID "New_ID" true true false 4 Short 0 4,First,#,out_agawam_lclu16,New_ID,-1,-1,in_wareham_bogs,New_ID,-1,-1;ft_perim "ft_perim" true true false 19 Double 11 18,First,#,out_agawam_lclu16,ft_perim,-1,-1;SubW_Names "SubW_Names" true true false 35 Text 0 0,First,#,out_agawam_lclu16,SubW_Names,0,35,in_wareham_bogs,SubW_Names,0,35;SHED_ID "SHED_ID" true true false 254 Text 0 0,First,#,out_agawam_lclu16,SHED_ID,0,254;Terminal_N "Terminal_N" true true false 254 Text 0 0,First,#,out_agawam_lclu16,Terminal_N,0,254;WMA_NO "WMA_NO" true true false 14 Text 0 0,First,#,in_wareham_bogs,WMA_NO,0,14;OWNER "OWNER" true true false 30 Text 0 0,First,#,in_wareham_bogs,OWNER,0,30;ADDRESS "ADDRESS" true true false 30 Text 0 0,First,#,in_wareham_bogs,ADDRESS,0,30;TOWN "TOWN" true true false 22 Text 0 0,First,#,in_wareham_bogs,TOWN,0,22;REGION "REGION" true true false 10 Long 0 10,First,#,in_wareham_bogs,REGION,-1,-1;BOG_NAME "BOG_NAME" true true false 22 Text 0 0,First,#,in_wareham_bogs,BOG_NAME,0,22;STAFF "STAFF" true true false 20 Text 0 0,First,#,in_wareham_bogs,STAFF,0,20;PROGRAM "PROGRAM" true true false 8 Text 0 0,First,#,in_wareham_bogs,PROGRAM,0,8;DATE_ENTER "DATE_ENTER" true true false 8 Date 0 0,First,#,in_wareham_bogs,DATE_ENTER,-1,-1;COMMENT "COMMENT" true true false 60 Text 0 0,First,#,in_wareham_bogs,COMMENT,0,60;BIRTHREG "BIRTHREG" true true false 16 Text 0 0,First,#,in_wareham_bogs,BIRTHREG,0,16;PERMIT_NUM "PERMIT_NUM" true true false 16 Text 0 0,First,#,in_wareham_bogs,PERMIT_NUM,0,16;CropStatus "CropStatus" true true false 20 Text 0 0,First,#,in_wareham_bogs,CropStatus,0,20;Bog_Code "Bog_Code" true true false 254 Text 0 0,First,#,in_wareham_bogs,Bog_Code,0,254;Bog_Name_2 "Bog_Name_2" true true false 254 Text 0 0,First,#,in_wareham_bogs,Bog_Name_2,0,254;Active "Active" true true false 254 Text 0 0,First,#,in_wareham_bogs,Active,0,254;Plant_Year "Plant_Year" true true false 254 Text 0 0,First,#,in_wareham_bogs,Plant_Year,0,254;Variety "Variety" true true false 254 Text 0 0,First,#,in_wareham_bogs,Variety,0,254;Var_Class "Var_Class" true true false 50 Text 0 0,First,#,in_wareham_bogs,Var_Class,0,50;Bog_type "Bog_type" true true false 50 Text 0 0,First,#,in_wareham_bogs,Bog_type,0,50;Area_sqft "Area_sqft" true true false 13 Float 0 0,First,#,in_wareham_bogs,Area_sqft,-1,-1;Area_ha "Area_ha" true true false 13 Float 0 0,First,#,in_wareham_bogs,Area_ha,-1,-1;renovated "renovated" true true false 50 Text 0 0,First,#,in_wareham_bogs,renovated,0,50;ren_yr "ren_yr" true true false 50 Text 0 0,First,#,in_wareham_bogs,ren_yr,0,50;new_upland "new_upland" true true false 50 Text 0 0,First,#,in_wareham_bogs,new_upland,0,50;new_yr "new_yr" true true false 50 Text 0 0,First,#,in_wareham_bogs,new_yr,0,50;Basin_1 "Basin_1" true true false 50 Text 0 0,First,#,in_wareham_bogs,Basin_1,0,50;BOG_FID "BOG_FID" true true false 254 Text 0 0,First,#,in_wareham_bogs,BOG_FID,0,254', "INTERSECT", None, '')

inlayer = spatialJoinOutput
excelpath2 = "C:\\Workspace\\Geodata\\Nload\\outputs\\"+inlayer+".xlsx"
arcpy.conversion.TableToExcel(inlayer,
                              excelpath2,
                              "NAME",
                              "CODE")

# Subwatershed land use area
inname1 = "in_agawam"
inname2 = 'out_agawam_lclu16_cran'
in_df1 = pd.read_excel(os.path.join(odr,inname1+'.xlsx')).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})


# Subwatershed catchment ids and terminus information
in_df2 = pd.read_excel(os.path.join(odr,inname2+'.xlsx')).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})
in_df2['Area_Ha'] = in_df2['Shape_Area']/10000

# path to feature class
fc = 'out_agawam_lclu16_cran'
# list of field names that excludes the shape geometry (including geometry messes this up)
flds = [fld.name for fld in arcpy.ListFields(fc) if fld.name != arcpy.Describe(fc).shapeFieldName]
arr = arcpy.da.FeatureClassToNumPyArray(fc,flds)
df = pd.DataFrame(arr)
arr["Shape_Area"].sum()
df["Shape_Area"].sum()
df.groupby('SHED_ID').sum()
df2 = df.groupby('SHED_ID').sum()/10000
df2.sum()